<?xml version="1.0" ?>
<launch>
	<arg name='delay1' default='3'/>
	<arg name="plan" default="dwa" />
	<arg name="st"     default="scan_filtered"/>
	<arg name="vl" default = "false"/>
	<include file="$(find diff_robot)/launch/laser_robo.launch">
		<arg name="viv" value="$(arg vl)"/>
	</include>
	<include file="$(find diff_robot)/launch/amcl.launch">
		<arg name="plan" value="$(arg plan)"/>
		<arg name="scan_topic"     default="$(arg st)"/>
	</include>
	<include file="$(find laser_filters)/launch/my_laser_filter.launch"/>
	<node name="rqt_graph" type = "rqt_graph" pkg="rqt_graph" launch-prefix="bash -c 'sleep $(arg delay1); $0 $@' "/>
</launch>
