<?xml version="1.0"?>
<launch>
	<include file="$(find diff_robot)/launch/laser_robo.launch"/>
	<include file="$(find laser_filters)/launch/my_laser_filter.launch"/>
	<include file="$(find diff_robot)/launch/gmapping.launch"/>
	
	<node name="keyboard" type="teleop_keyboard.py" pkg = "keys" output ="screen"/>
	
</launch>
