<?xml version="1.0" ?>
<launch>
	<include file="$(find diff_robot)/launch/laser_robo.launch"/>
	<include file="$(find imu_filter_madgwick)/launch/imu_filter_madgwick.launch"/>
	<node type="teleop_keyboard.py" name="teleop" pkg="keys"/>
	<remap from="example/imu" to="imu/data"/>
	<remap from="example/odom" to="odom"/>
	<remap from="robot_pose_ekf/odom_combined" to="odometry/filtered"/>
	<include file="$(find robot_localization)/launch/ukf_template.launch"/>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find diff_robot)/rviz/camera.rviz" />
	
	<include file="$(find odom_to_trajectory)/launch/create_trajectory.launch"/>
	<node type="rqt_multiplot" name="rqt_multiplot" pkg="rqt_multiplot" />
	<node type="rqt_graph" name="rqt_graph" pkg="rqt_graph" />
</launch>



